body {
  height: 100vh;
  margin: 0px;
  overflow-y: hidden;
}

/* Meny */
.start_button {
  position: absolute;
  bottom: 50%;
  height: 40px;
  width: 140px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 1);
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}
.start_button:hover {
  border: solid black 1px;
  background-color: #2EE59D;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#border {
  position: relative;
  min-height: 100vh;
}

#img {
  filter: blur(15px);
  -webkit-filter: blur(15px);
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
}

.start-button {
  display: flex;
  justify-content: center;
}
/* Meny */



/* start */
.question-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  margin: auto;
}

#question_title {
  color: white;
  margin-bottom: 0px;
  font-size: 40px;
}

#theme {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  font-size: 22px;
}

#answer {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
}

.answer_button {
  height: 100px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}
.answer_button:hover {
  border: solid black 1px;
  background-color: #2EE59D;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#highscore-box {
  display: flex;
  justify-content: center;
}

#highscore_text {
  visibility: hidden;
  color: white;
  font-size: 32px;
}

#highscore_box {
  color: white;
  font-size: 32px;
}
/* start */



/* Slutt_spill */
#end-game {
  display: flex, none;
  justify-content: space-around;
}

#try_again {
  visibility: hidden;
  height: 60px;
  width: 175px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 1);
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}
#try_again:hover {
  border: solid black 1px;
  background-color: #2EE59D;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#stop_game {
  visibility: hidden;
  height: 60px;
  width: 175px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 1);
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}
#stop_game:hover {
  border: solid black 1px;
  background-color: #2EE59D;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* Slutt_spill */

@media only screen and (max-width: 800px) {
  body {
    overflow-y: visible;
  }

  #answer {
    flex-direction: column;
  }
}
