div {
  border: solid black 2px;
  margin: 10px;
}

.game-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35rem;
}

.start-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
