body {
    margin: 0px;
}

.border {
    display: flex;
    justify-content: center;
}
.forms {
    border: solid black 1px;
    background-color: greenyellow;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
    width: 75%;
}